<h1>Coupon</h1>

<p>Name: <%= @coupon.name %></p>
<p>Code: <%= @coupon.code %></p>
<p>Amount off: <%= @coupon.dollar_off %></p>
<p>Status: <%= @coupon.status %></p>
<p>Times used: <%= @coupon.times_used %></p>
