<h1>Coupon</h1>
<section class='section'>
  <p>Name: <%= @coupon.name %></p>
  <p>Code: <%= @coupon.code %></p>
  <p>Amount off: <%= @coupon.dollar_off %></p>
  <p>Status: <%= @coupon.status %></p>
  <p>Times used: <%= @coupon.times_used %></p>
  
</section>

<% if @coupon.status == "active"  %> 
  <%= button_to "Deactivate #{@coupon.name}", merchant_coupon_path, method: :patch, params: {status: "inactive"} %>
<% elsif @coupon.status == "inactive" %>
  <%= button_to "Activate #{@coupon.name}", merchant_coupon_path ,method: :patch, params: {status: "active"} %>
<% end %>

